#page-forgotpass {
  display: flex;
  flex-direction: row;
}

#page-forgotpass .form-container {
  background-color: #fff;
  width: 520px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-forgotpass .form-container .form-text {
  width: 360px;
}

#page-forgotpass .form-container .form-text h1 {
  color: #5C8599;
}
#page-forgotpass .form-container .form-text p {
  color: #5C8599;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 40px;
}

#page-forgotpass .form-container .input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-forgotpass .form-container .input-block input {
  width: 360px;
  height: 64px;
  background-color: #F5F8FA;

  border-radius: 20px;
  border: 1px solid #D3E2E5;

  outline: none;

  padding: 0 16px;
  margin-bottom: 16px;  
  margin-top: 8px;

  color: #5C8599;  
}

#page-forgotpass .form-container .input-block label {
  font-size: 16px;
  color: #8FA7B2;
}

#page-forgotpass .form-container button {
  width: 360px;
  height: 64px;
  border-radius: 20px;

  border: 0;
  color: #fff;
  background-color: #37C77F;

  opacity: 0.5;

  outline: none;

  transition: background-color 100ms;
}


#page-forgotpass .back-button {
  position: absolute;
  top: 40px;
  right: 43px;
  width: 48px;
  height: 48px;

  background: #EBF2F5;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 100ms;
}

#page-forgotpass .back-button:hover {
  background: #e0eef5;
}